* {
  margin: 0%;
}

body {
  background-color: aliceblue;
}
.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_selectOptions {
  font-style: italic;
  background-color: salmon;
}

.styler {
  position: absolute;
  background-color: whitesmoke;
  width: 400;
  border: 2px solid #000;
  padding: spacing(2, 4, 3);
}
.btn {
  width: 90px;
}

.app_infos {
  display: flex;
  justify-content: space-between;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.container_left {
  flex: 0.9;
}
.app_header > h1 {
  color: red;
  font-size: 2rem;
}
.Select {
  font-style: italic;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
